hdykeypad > button, .dial-button, .delete-button {
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
}

.dial-button {
  padding: 19px 42px
}

.delete-button {
  padding: 8px 12px;
}

.phone-number-entry {
  font-size: 24px;
}

.error-state-message {
  background-color: @error_color;
  border-bottom: 1px solid darker(@error_color);
  color: @theme_base_color;
  padding: 6px;
}

/* HdyAvatar */

avatar { border-radius: 9999px; -gtk-outline-radius: 9999px; font-weight: bold; }

avatar.color1 { background-image: linear-gradient(#ffbe6f, #ed6f00); color: #ffe5c5; }

avatar.color2 { background-image: linear-gradient(#f8e45c, #e5a50a); color: #f9f4e1; }

avatar.color3 { background-image: linear-gradient(#dc8add, #8a3ea3); color: #e7c2e8; }

avatar.color4 { background-image: linear-gradient(#99c1f1, #337fdc); color: #cfe1f5; }

avatar.color5 { background-image: linear-gradient(#c0bfbc, #6e6d71); color: #d8d7d3; }

avatar.color6 { background-image: linear-gradient(#8de6ae, #29ae71); color: #cbf7d5; }

avatar.color7 { background-image: linear-gradient(#f67365, #d91a23); color: #f6c8c4; }

avatar.color8 { background-image: linear-gradient(#cdab8f, #865d3c); color: #e5d6ca; }

avatar.contrasted { color: #fff; }

/* End HdyAvatar */
